<!DOCTYPE html>
<html lang="en">
  <head>
  	<% include ./partial/head %>
  </head>

  <body class="container">
    <h1> First Thread </h1>
    <h3> Account: <%= account.emailAddress %> </h3>
    <h3> Subject: <%= thread.subject %> </h3>
    <h3> Snippet: <%= thread.snippet %> </h3>
    <h3> Attachments: <%= thread.hasAttachments %> </h3>
    <h3> Unread: <%= thread.unread %> </h3>
  </body>
</html>
