<!DOCTYPE html>
<html lang="en">
  <head>
  	<% include ./partial/head %>
  </head>

  <body class="container">
    <h3> Account: <%= account.emailAddress %> </h3>
    <h3> subject: <%= thread.subject %> </h3>
    <h3> snippet: <%= thread.snippet %> </h3>
    <h3> attachments: <%= thread.hasAttachments %> </h3>
    <h3> unread: <%= thread.unread %> </h3>
  </body>
</html>
