<!DOCTYPE html>
<html lang="en">
  <head>
  	<% include ./partial/head %>
  </head>

  <body class="container">
    <h1> First Message </h1>
    <h3> Subject: <%= message.subject %> </h3>
    <h3> Date: <%= message.date %> </h3>
    <h3> ID: <%= message.id %> </h3>
    <h3> From: <%= message.from %> </h3>
    <h3> Unread: <%= message.unread %> </h3>
    <h3> Body: <%= message.snippet %> </h3>




  </body>
</html>
